{% extends 'main/base.html' %}

{% block title %}
    Add Item
{% endblock %}

{% block content %}

<h1 style="margin:20px;"> Add Item </h1>

<form method="POST" action="." enctype="multipart/form-data" style="margin:20px;">
  {% csrf_token %}
<div>
    {{form.as_p}}
</div>

    {% if form.errors or form.non_field_errors %}
        <div>
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
        </div>
    {% endif %}
 <button class="btn btn-success btn-lg" type="submit">Edit</button>

</form>
{% endblock %}