{% extends 'main/base.html' %}

{% block title %}
    Mishi's Items Page
{% endblock %}

{% block content %}

<table class="table table-hover">
    <thead style="margin: auto;">
      <tr id="table">
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody id="table-content">
    {% for item in items %}
    {% include 'main/includes/items_modals.html' %}
    <tr>
    <td><a href="{% url 'detail' item.id %}">{{ item.name }}</a></td>
    <td>
        <img alt="image" style="width: 64px" src="{% if item.image %}{{ item.image.url }} {% else %}#{% endif %}">
    </td>
    <td>{{ item.price }}$</td>

    <td>
   <button type="button" class="btn btn-outline-primary">
       <a href="{% url 'detail' item.id %}"> More Info</a>
    </button>
    {% if request.user == item.added_by %}
    <a href="{% url 'edit' item.id %}" class="btn btn-outline-info">Edit</a>
    <button type="button" style="margin:20px" class="btn btn-outline-danger" data-toggle="modal" data-target="#Modal-DeleteConfirm{{ item.pk }}">Delete
    </button>
     {% else %}
     <a href="{% url 'chat:new_chat' item.id %}" class="btn btn-info w-50">Contact Seller</a>
    {% endif %}
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<div class="container mt-100" id="cards" >
    <div class="row">
        {% for category in categories %}
          <div class="col-md-4 col-sm-6" >
            <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true"  >
                <div class="inner" >
                </div></a>
              <div class="card-body text-center" id="category-cards">
                <h4 class="card-title"></h4>
                <p class="text-muted">{{ category.name }}</p>
                  <p class="text-muted">{{ category.items.count }}</p>
                  <a class="btn btn-outline-primary btn-sm" href="{%url 'browse' %}" data-abc="true">View Products</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>




{% endblock %}